<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div>
      <div>
        <a href="/posts">Back</a>
      </div>

      <form action="/posts" method="post">
        <div>
          <h3>New Post</h3>
          <fieldset>

            <div>
              <label for="title">Title</label>
              <div>
                <input type="text" id="title" name="title" value="<%= post.title %>">
                <% if(errors.title){ %>
                  <span><%= errors.title.message %></span>
                <% } %>
              </div>
            </div>

            <div>
              <label for="body" >Body</label>
              <div>
                <textarea id="body" name="body" rows="5"><%= post.body %></textarea>
                <% if(errors.body){ %>
                  <span><%= errors.body.message %></span>
                <% } %>
              </div>
            </div>

          </fieldset>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
        <% if(errors.unhandled){ %>
          <div>
            <%= errors.unhandled %>
          </div>
        <% } %>
      </form>

    </div>  <!-- container end -->
  </body>
</html>
