<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div class="body_content" id="body_content_id">
      
      <form action="/users" method="post">
        <div >
          <h3 >New User</h3>

          <fieldset>
            <div>
              <label for="username">ID*</label>
              <div >
                <input type="text" id="username" name="username" value="<%= user.username %>">
                <% if(errors.username){ %>
                  <span ><%= errors.username.message %></span>
                <% } %>
              </div>
            </div>
            
            <div>
              <label for="name" >이름*</label>
              <div >
                <input type="text" id="name" name="name" value="<%= user.name %>">
                <% if(errors.name){ %>
                  <span ><%= errors.name.message %></span>
                <% } %>
              </div>
            </div>

            <div>
              <label for="email" >Email</label>
              <div >
                <input type="text" id="email" name="email" value="<%= user.email %>">
                <% if(errors.email){ %>
                  <span ><%= errors.email.message %></span>
                <% } %>
              </div>
            </div>

            <div>
              <label for="phone_num" >전화번호</label>
              <div >
                <input type="text" id="phone_num" name="phone_num" value="<%= user.phone_num %>" placeholder="-는 생략해주세요">
                <% if(errors.phone_num){ %>
                  <span ><%= errors.phone_num.message %></span>
                <% } %>
              </div>
            </div>
            
            <div>
              <label for="password" >비밀번호*</label>
              <div >
                <input  type="password" id="password" name="password" value="">
                <% if(errors.password){ %>
                  <span ><%= errors.password.message %></span>
                <% } %>
              </div>
            </div>

            <div>
              <label for="passwordConfirmation" >비밀번호 확인*</label>
              <div >
                <input  type="password" id="passwordConfirmation" name="passwordConfirmation" value="">
                <% if(errors.passwordConfirmation){ %>
                  <span ><%= errors.passwordConfirmation.message %></span>
                <% } %>
              </div>
            </div>

            <p>
              <small>*표시는 필수사항입니다</small>
            </p>

          </fieldset>
        </div>
        <div>
          <button type="submit">가입요청</button>
        </div>
        
        <% if(errors.unhandled){ %>
          <div >
            <%= errors.unhandled %>
          </div>
        <% } %>
      </form>

    </div> <!-- container end -->
  </body>
</html>
