<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="body">
    <% include ../partials/nav %>

    <div id="body_content_id">
      
      <form action="/users" method="post">
        <div >
          <h3 >New User</h3>

          <fieldset>
              <div class="register_form">
                <input type="text" id="username" name="username" required value="ID*" value="<%= user.username %>" onBlur="if(this.value=='')this.value='ID*'" onFocus="if(this.value=='ID*')this.value='' ">
                <% if(errors.username){ %>
                  <span ><%= errors.username.message %></span>
                <% } %>
              </div>
            
              <div class="register_form">
                <input type="text" id="name" name="name" required value="이름*" value="<%= user.name %>" onBlur="if(this.value=='')this.value='이름*'" onFocus="if(this.value=='이름*')this.value='' ">
                <% if(errors.name){ %>
                  <span ><%= errors.name.message %></span>
                <% } %>
              </div>

              <div class="register_form">
                <input type="text" id="email" name="email" required value="E-mail" value="<%= user.email %>" onBlur="if(this.value=='')this.value='E-mail'" onFocus="if(this.value=='E-mail')this.value='' ">
                <% if(errors.email){ %>
                  <span ><%= errors.email.message %></span>
                <% } %>
              </div>

              <div class="register_form">
                <input type="text" id="phone_num" name="phone_num" required value="전화번호 (-는 생략해주세요)" value="<%= user.phone_num %>" onBlur="if(this.value=='')this.value='전화번호 (-는 생략해주세요)'" onFocus="if(this.value=='전화번호 (-는 생략해주세요)')this.value='' ">
                <% if(errors.phone_num){ %>
                  <span ><%= errors.phone_num.message %></span>
                <% } %>
              </div>
            
              <div class="register_form">
                <input  type="password" id="password" name="password" required value="비밀번호*" value="" onBlur="if(this.value=='')this.value='비밀번호*'" onFocus="if(this.value=='비밀번호*')this.value='' ">
                <% if(errors.password){ %>
                  <span ><%= errors.password.message %></span>
                <% } %>
              </div>

              <div class="register_form">
                <input  type="password" id="passwordConfirmation" name="passwordConfirmation" required value="비밀번호*" value="" onBlur="if(this.value=='')this.value='비밀번호*'" onFocus="if(this.value=='비밀번호*')this.value='' ">
                <% if(errors.passwordConfirmation){ %>
                  <span ><%= errors.passwordConfirmation.message %></span>
                <% } %>
              </div>

            <p>
              <small>*표시는 필수사항입니다</small>
            </p>

          </fieldset>
        </div>
        <div >
          <button id="button_register" type="submit">가입요청</button>
        </div>
        
        <% if(errors.unhandled){ %>
          <div >
            <%= errors.unhandled %>
          </div>
        <% } %>
      </form>

    </div> <!-- container end -->
  </body>
</html>
