<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div>
      <% include ./partials/header %>

      <div>
        <a href="/registers">Back</a>
      </div>

      <form action="/registers/<%= register._id %>?_method=put" method="post">
        
        <div>
          
          <h3>Edit Post</h3>
          
          <fieldset>
            <div>
              <label for="title">Title</label>
              <div >
                <input type="text" id="title" name="title" value="<%= register.title %>">
                <% if(errors.title){ %>
                  <span ><%= errors.title.message %></span>
                <% } %>
              </div>
            </div>

            <div>
              <label for="sub_title">Sub_Title</label>
              <div >
                <input type="text" id="sub_title" name="sub_title" value="<%= register.sub_title %>">
                <% if(errors.sub_title){ %>
                  <span ><%= errors.sub_title.message %></span>
                <% } %>
              </div>
            </div>

            <div>
              <label for="required_people">Required_People</label>
              <div >
                <input type="text" id="required_people" name="required_people" value="<%= register.required_people %>">
                <% if(errors.required_people){ %>
                  <span ><%= errors.required_people.message %></span>
                <% } %>
              </div>
            </div>
            
            <div>
              <label for="budget">Budget</label>
              <div >
                <input type="text" id="budget" name="budget" value="<%= register.budget %>">
                <% if(errors.budget){ %>
                  <span ><%= errors.budget.message %></span>
                <% } %>
              </div>
            </div>

            <div>
              <label for="deadline">Deadline</label>
              <div>
                <input type="date" id="deadline" name="deadline" value="<%= register.deadline %>">
                <% if(errors.deadline){ %>
                  <span ><%= errors.deadline.message %></span>
                <% } %>
              </div>
            </div>

            <div>
              <label for="body">Body</label>
              <div>
                <textarea id="body" name="body" rows="5"><%= register.body %></textarea>
                <% if(errors.body){ %>
                  <span><%= errors.body.message %></span>
                <% } %>
              </div>
            </div>

          </fieldset>

        </div>

        <div class="buttons">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>

        <% if(errors.unhandled){ %>
          <div class="alert alert-danger">
            <%= errors.unhandled %>
          </div>
        <% } %>
        
      </form>

    </div>  <!-- container end -->
  </body>
</html>
