<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body class="body">
  <% include ../partials/nav %>
  <div>
    <div>
      <% if(isAuthenticated){ %>
      <!--  new 버튼은 로그인된 경우에만 보임-->
      <a href="/registers/new"><button id="btn_new">New</button></a>
      <% } %>
    </div>
    
    <div class="카테고리별_공모">
      <ul class="all_list">
        <% registers.forEach(function(register) { %>
        <li class="list">
            <div class="아이템_한개_전체" onclick="location.href='/registers/<%= register._id %>'">
              <div class="아이템_제목"><%= register.title %></div>
              <div class="아이템_회사명">회사명 : <%= register.company %></div>
              <div class="아이템_인원">필요 인원 수 : <%= register.required_people %>명</div>
              <div class="아이템_마감일">마감일 : <%= register.deadline.toLocaleDateString() %></div>
              <div class="아이템_D-Day">D-30</div>
            </div>
        </li>
        <% }) %>
      </ul>
    </div>
    
  </div>
</body>

</html>
