<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>
  
  <div id="body_content_id">
    <div>
      <% if(isAuthenticated){ %>
      <!--  new 버튼은 로그인된 경우에만 보임-->
      <a href="/registers/new"><button id="btn_new">New</button></a>
      <% } %>
    </div>
    <div class="register_top">
      <div class="register_top_box">
        <img src="/img/icon_write.png" alt="write"><br>
        폼을 작성하세요!
      </div>
      <div class="register_top_box">
          <img src="/img/icon_register.png" alt="register"><br>
          공모를 등록하세요!
      </div>
      <div class="register_top_box">
          <img src="/img/icon_find.png" alt="find"><br>
          참여자를 고르세요!
      </div>
      <div class="register_top_box">
          <img src="/img/icon_hand.png" alt="hand"><br>
          함께 작품을 만들어요!
      </div>
    </div>
    <div class="카테고리별_공모">
      <ul>
        <% registers.forEach(function(register) { %>
        <li>
            <div class="아이템_한개_전체" onclick="location.href='/registers/<%= register._id %>'">
                <div class="아이템_내용">
                    <div class="아이템_제목"><%= register.title %></div>
                    <div class="아이템_회사명"><%= register.company %></div>
                    <div class="아이템_마감일"><%= register.deadline.toLocaleDateString() %></div>
                    <div class="아이템_인원"><%= register.required_people %></div>
                </div>
            </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</body>

</html>
