<!-- views/posts/show.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/register_show.css" />
  </head>
  <body class="body">
    <% include ../partials/nav %>
    <div>

      <div class="btn_all">
        <!-- 로그인이 된 상태이고, 게시물의 작성자 id(post.author.id)와 현재 로그인된 사용자의 id(currentUser.id)가 일치하는 경우에만 edit, delete을 보여줌 -->
        <% if(isAuthenticated && register.author && currentUser.id == register.author.id){ %>
          
          <form action="/registers/<%= register._id %>?_method=delete" method="post">
            <a href="#" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;"><button id="btn">Delete</button></a>
          </form>
          <a href="/registers/<%= register._id %>/edit"><button id="btn">Edit</button></a>
        <% } %>
      </div>

      <div class="box">
        <h2><%= register.title %></h2>
        
        <div class="t1"><%= register.author ? register.author.username : "" %> | <%= register.company %></div>
        <hr>
        <div class="box3">
          <div class="box2"><%= register.required_people %>명</div>
          <div class="box2"><%= register.budget %>원</div>
          <% if ((register.deadline - (new Date())) < 0) { %>
            <div class="box2">마감</div>
          <% } else {%>
            <div class="box2">D - <%= Math.floor((register.deadline - (new Date())) / (1000 * 60 * 60 * 24)) %></div>
          <% } %>
        </div>
        <div id="content"><%= register.body %></div>
        <script>
            content.innerHTML = content.innerHTML.replace(/&lt;br&gt;/gi, "<br>");
        </script>
        <% if(isAuthenticated && currentUser.id !=register.author.id){ %>
            <input type="checkbox" id="참여하기">참여하기</input>
        <%  } %>

        <div>참여자 : <%= register.participants %></div>
        <form action="/registers/<%= register._id %>" method="post">
          <input style="display: none" type="text" name="user_id" value="<%= currentUser.id %>">
          <input style="display: none" type="text" name="register_id" value="<%= register._id %>">
          <input type="submit" value="Submit">
        </form>
      </div>

  </body>
</html>
